:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-table {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    perspective: 1000px;
    div.card {
        flex: 0 0 150px;
        height: 150px;
        border: 1px solid black;
        transition: transform 0.3s;
        transform-style: preserve-3d;
        & > div {
            position: absolute;
            width: 150px;
            height: 150px;
            backface-visibility: hidden;
        }
        div.back {
            top: 0;
            background-color:	#01819e;
        }
        div.front {
            display: flex;
            align-items: center;
            background-color:	#d5aa74;
            transform: rotateY(180deg);

        }
        div.front > img {
            width: 100%;
        }
    }
    div.card.found > .front {
        background-color: #017244;
    }
    div.card.is-flipped {
        transform: rotateY(180deg);
    }
}

.status {
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFDA;
    div {
        margin: 30px 10px;
        font-weight: 500;
        font-size: 25px;
    }
    .current-status {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
}